body {
  background-color: #D0F2E1;
  margin: 2% 10%;
}

#inner-div {
  background-color: white;
  height: 100%;
  padding: 2% 5%;
}

#header-styles {
  padding: 2% 5%;
  height: 100%;
  width: 100%;
  background-color:white;
}

.slang-div {
  background-color: #EBF0ED;
  padding: 5px;
  width: 50%;
  border-radius: 15px;
}
